{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true,
        "jest": true
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "rules": {
        "no-console": 0,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2,
        "react/jsx-quotes": 0,
        "react/jsx-no-bind": "warn",
        "react/prop-types": 0,
        "react/no-multi-comp": 0,
        "react/jsx-boolean-value": 0,
        "import/default": 0,
        "import/no-duplicates": 0,
        "import/named": 0,
        "import/namespace": 0,
        "import/no-unresolved": 0,
        "import/no-named-as-default": 0,
        "no-case-declarations": 0,
        "semi": 0
    }
}